* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 3% 5% 0 5%;
  background-color: #171718;
}
ul {
  display: flex;
  list-style: none;
}

.right-space-nav {
  margin-right: 5%;
  font-size: 20px;
  text-transform: uppercase;
}

.first_section {
  background-color: #171718;
  height: 600px;
  display: flex;
  justify-content: space-between;
  padding: 3% 5% 0 5%;
  font-size: xx-large;
}

.image-holder1,
.image-holder2,
.image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #171718;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  border: 2px solid white;
}
.image-holder2 {
  width: 400px;
  height: 400px;
}

.image-holder {
  background: rgb(255, 35, 0);
  width: 360px;
  height: 360px;
  border: none;
}

.logo {
  font-size: 30px;
}

.me {
  font-size: large;
  margin: 5% 0;
}

.button {
  padding: 3% 5%;
  background-color: #ff2300;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 50px;
}

.button2 {
  padding: 1% 1%;
  background-color: #ff2300;
  color: #fff;
  font-size: 15px;
  border-radius: 50px;
}

.button3 {
  margin: 0px 0px 10px;
  padding: 8px 18px;
  width: 200px;
  background-color: #ff2300;
  color: #fff;
  font-size: 14px;
  font-family: roboto, sans-serif;
  border-radius: 50px;
}

.button4 {
  margin: 0px 0px 10px;
  padding: 8px 18px;
  width: 200px;
  background-color: #ff2300;
  color: #fff;
  font-size: 14px;
  font-family: roboto, sans-serif;
  border-radius: 50px;
}

.button:hover {
  background: #fff;
  color: #ff2300;
}

.hover-effect-nav:hover {
  border-bottom: 5px solid #fff;
}

.imag-radius {
  border-radius: 50%;
}

.second-section {
  display: flex;
  background-color: #fff;
  margin: 7% 0 5% 5%;
}

.imag-radius2 {
  border-radius: 8%;
  z-index: 1;
}

.imag-radius3 {
  border-radius: 50%;
  margin: 5px 5px 5px 5px;
}

.box {
  position: relative;
  width: 500px;
  height: 600px;
  z-index: 5;
}

.box2 {
  margin-left: 70px;
}

.box3 {
  display: flex;
  margin-top: 20px;
}

.box3 > div {
  margin-right: 30px;
}

.image-holder3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff2300;
  width: 500px;
  height: 600px;
  border-radius: 8%;
}

.image-holder3:hover {
  background-color: #171718;
}

.image-holder4 {
  position: relative;
  background: #ff2300;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  padding: 15px;
  /* border: 5px solid #ff2300; */
}

.image-holder4:hover {
  background-color: #ff2300;
}

.circle1 {
  width: 140px;
  position: absolute;
  right: -57px;
  top: 227px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #ff2300;
  z-index: -1;
}

.circle1:hover {
  border: 2px solid #171718;
}

.circle2 {
  width: 120px;
  position: absolute;
  right: -46px;
  top: 237px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #ff2300;
  z-index: -1;
}

.circle2:hover {
  border: 2px solid #171718;
}

.play-btn {
  width: 100px;
  position: absolute;
  right: -38px;
  top: 41%;
  height: 100px;
  background: #ff2300;
  border-radius: 50%;
  z-index: 3;
}

.play-btn:hover {
  background-color: #171718;
}

.h1 {
  color: black;
  font-size: 40px;
  font-family: serif;
}

.p {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.third-section > h1 {
  color: #ff2300;
}

.h2 {
  color: black;
  font-size: 40px;
  font-family: serif;
}
.third-section {
  background-color: #fff6f1;
  height: 800px;
  /* display: flex; */
  justify-content: space-between;
  padding: 3% 5% 0 5%;
  font-size: xx-large;
}

.box4 {
  display: flex;
  margin-top: 50px;
}

.box5 {
  display: flex;
  margin-top: 50px;
  padding-left: 70px;
  padding-right: 50px;
}

.box6 {
  position: relative;
  display: flex;
  /* margin-top: 10px; */
  padding-left: 70px;
  padding-right: 50px;
  justify-content: space-between;
  z-index: 5;
}

.oval1 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #fff;
  color: black;
  width: 600px;
  height: 200px;
  border-radius: 60px;
  margin-right: 30px;
  padding: 20px;
  box-shadow: -0.5px -0.5px 20px 0.5px #f8dfd2;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff2300;
  border-radius: 50%;
  width: 70px;
  font-weight: 800;
  height: 70px;
  margin-right: 30px;
  margin-left: 50px;
  color: #f8dfd2;
}

.date {
  font-size: 16px;
}

.h6 {
  color: #ff2300;
  font-family: sans-serif;
  font-size: large;
}

.h7 {
  color: #ff2300;
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 100;
}

.h3 {
  color: white;
  font-size: xx-large;
  font-family: Roboto, sans-serif;
}

.h4 {
  font-size: x-large;
  font-family: sans-serif;
  margin: 25px 0;
}

.circle-holder {
  position: relative;
}

.circle3 {
  width: 100px;
  position: absolute;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ff2300;
  top: -15px;
  left: 35px;
}

.fourth-section > div {
  text-align: center;
  margin: 7% 0 5% 5%;
}

.header-div > h1 {
  color: #ff2300;
}

.oval2 {
  background-color: #fff;
  color: black;
  width: 350px;
  height: 350px;
  border-radius: 60px;
  margin-right: 30px;
  padding: 30px;
  box-shadow: -0.5px -0.5px 20px 0.5px #f8dfd2;
}

.oval2:hover {
  background-color: #29282b;
}

.fifth-section {
  background-color: #171718;
  height: 900px;
  justify-content: space-between;
  padding: 3% 5% 0 5%;
  font-size: xx-large;
}

.fifth-section > div {
  text-align: center;
  padding: 7% 0 5% 5%;
}

.circle4 {
  width: 120px;
  position: absolute;
  left: 120px;
  top: -50px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #ff2300;
  z-index: -1;
}

.circle4:hover {
  border: 2px solid #ff2300;
}

.circle5 {
  width: 100px;
  position: absolute;
  left: 130px;
  top: -40px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ff2300;
  z-index: -1;
}

.circle5:hover {
  border: 2px solid #ff2300;
}

.play-btn2 {
  width: 80px;
  position: absolute;
  left: 140px;
  top: -30px;
  height: 80px;
  background: #ff2300;
  border-radius: 50%;
  z-index: 3;
}

.play-btn2:hover {
  background-color: #ff2300;
}
