* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 3% 5% 0 5%;
  background-color: #171718;
}
ul {
  display: flex;
  list-style: none;
}

.right-space-nav {
  margin-right: 5%;
  font-size: 20px;
  text-transform: uppercase;
}

.first_section {
  background-color: #171718;
  height: 600px;
  display: flex;
  justify-content: space-between;
  padding: 3% 5% 0 5%;
  font-size: xx-large;
}

.image-holder1,
.image-holder2,
.image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #171718;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  border: 2px solid white;
}
.image-holder2 {
  width: 400px;
  height: 400px;
}

.image-holder {
  background: rgb(255, 35, 0);
  width: 360px;
  height: 360px;
  border: none;
}

.logo {
  font-size: 30px;
}

.me {
  font-size: large;
  margin: 5% 0;
}

.button {
  padding: 3% 5%;
  background-color: #ff2300;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 50px;
}

.button:hover {
  background: #fff;
  color: #ff2300;
}

.hover-effect-nav:hover {
  border-bottom: 5px solid #fff;
}

.imag-radius {
  border-radius: 50%;
}

.second-section {
  background-color: #fff;
  margin: 7% 0 5% 5%;
}

.imag-radius2 {
  border-radius: 8%;
}

.image-holder3 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #ff2300;
  width: 500px;
  height: 600px;
  border-radius: 8%;
}
.image-holder3:hover{
  background-color: #171718;
}
.play-btn:hover{
    background-color: #171718;
}
.play-btn {
  width: 100px;
  position: absolute;
  right: -40px;
  height: 100px;
  background: #ff2300;
  border-radius: 50%;
}
